@inherits Vega.USiteBuilder.UmbracoTemplatePageBase<Vega.Test.Entities.DocumentTypes.FirstLevelDT>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FirstLevelView</title>
</head>
<body>
    <div>
        First Level View
        <br />
        Node name: @this.Model.Name <br />
        Property Value: @this.Model.FirstLevelProp1
    </div>
</body>
</html>
