@inherits Vega.USiteBuilder.UmbracoTemplatePageBase<Vega.Test.Entities.DocumentTypes.FirstLevelDT>
@{
    Layout = "~/Views/MasterView.cshtml";
}

<h2>FourthLevel</h2>
<br />
Node name: @this.Model.Name <br />