@inherits Vega.USiteBuilder.UmbracoTemplatePageBase<Vega.Test.Entities.DocumentTypes.SecondLevelDT1>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SecondLevelView</title>
</head>
<body>
    <div>
        Second Level View
    </div>
</body>
</html>