<!DOCTYPE root[<!ELEMENT SecondLevelDT1 ANY>
<!ATTLIST SecondLevelDT1 id ID #REQUIRED>
<!ELEMENT FirstLevelDT ANY>
<!ATTLIST FirstLevelDT id ID #REQUIRED>
 

]>
<root id="-1">
  <FirstLevelDT id="1067" key="020b5ca4-f0d7-4956-ae3e-10654dedbedd" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-03-25T17:47:38" updateDate="2014-03-26T16:27:05" nodeName="First" urlName="first" path="-1,1067" isDoc="" nodeType="1046" creatorName="admin" writerName="admin" writerID="0" template="1068" nodeTypeAlias="FirstLevelDT">
    <SecondLevelDT1 id="1070" key="bb31bdde-b9ad-4539-9d06-2edc3d334af0" parentID="1067" level="2" creatorID="0" sortOrder="0" createDate="2014-03-25T19:25:17" updateDate="2014-03-25T19:25:17" nodeName="Second" urlName="second" path="-1,1067,1070" isDoc="" nodeType="1047" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="SecondLevelDT1">
      <firstlevelproperty1><![CDATA[123]]></firstlevelproperty1>
      <relatedLinks><![CDATA[[]]]></relatedLinks>
      <property1><![CDATA[1]]></property1>
      <prop2><![CDATA[prop 2]]></prop2>
      <property3><![CDATA[default value]]></property3>
    </SecondLevelDT1>
    <firstlevelproperty1><![CDATA[123]]></firstlevelproperty1>
    <relatedLinks><![CDATA[[
  {
    "caption": "321",
    "link": "http://www.google.com",
    "newWindow": true,
    "edit": false,
    "isInternal": false,
    "type": "external",
    "title": "321"
  },
  {
    "caption": "First",
    "link": "1067",
    "newWindow": true,
    "internal": "1067",
    "edit": false,
    "isInternal": true,
    "internalName": "First",
    "type": "internal",
    "title": "First"
  }
]]]></relatedLinks>
  </FirstLevelDT>
</root>